* {
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    background-color: #F5F5F5;
}
.flex{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
    
}

.centro{
    justify-content: center;
}

.quadrado_maior{
    background-color: #2C73D2;
    width: 600px;
    height: 600px;
    border-radius: 23px;
}
.letra-p{
    font-size: 20px;
    color: #333333 ;
}
.letra-s{
    font-size: 20px;
    color: #666666 ;
}
.quadrado_menor{
    width: 600px;
    height: 55px;
    border-radius: 15px 15px 0px 0px;
    background-color: #26A69A;
}

.input{
    height: 40px;
    width: 300px;
    background-color: #26A69A;
    border-radius: 35px;
    font-size: x-large;
    font-family: impact, fantasy;
    color: #666666;
    padding-left: 15px;
    border: none;
    outline: none;    

}

.input-p{
    height: 40px;
    width: 300px;
    background-color: #2C73D2;
    border-radius: 35px;
    font-size: x-large;
    font-family: impact, fantasy;
    color: #666666;
    padding-left: 15px;
    border: none;
    outline: none;    

}
.borda{
    border: 2px #666666;
}

.font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}
.quadrado_meio{
    justify-content: baseline;
}

.col{
    flex-direction: column;
}
.top{
    margin: 20px;
}