* {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
}

.quadrado-azul {
    background-color: blue;
    height: 200px;
    width: 200px;
}

.linha-1 {
    display: flex;

    justify-content: space-between;
}

.linha-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linha-3 {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.linha {
    height: 33.33333333%;

}

.quadrado-laranja {
    background-color: orange;
    height: 65px;
    width: 65px;

}

.metade {
    height: 50%;
}

.flex {
    display: flex;
}

.alinha-meio {
    justify-content: center;
}

.alinha-coluna-final {
    align-items: end;
}

.centro-coluna {
    align-items: center;
}

.meio {
    height: 100%;
}

.alinha-final {
    justify-content: end;
    align-items: end;
}

.alinha-terceiro{
    justify-content: end;
    align-items: start;
}

.alinha-linha-final{
    justify-content: end;
}

.alinha-final-meio{
    align-items: end;
}
.metade2{
    height: 100%;
}
.dois{
 justify-content: space-between;
}
.sim{
    align-items: end;
}
.dd{
    height: 66.66666%;
}